<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Personal API (still under construction)</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <form class="form-inline" id="newVacationForm">
            <label for="year">Year</label>
            <input type="text" name="year" placeholder="Year">
            <label for="location">Location</label>
            <input type="text" name="location" placeholder="Location">
            <label for="hasPhotos">Photos?</label>
            <input type="checkbox" name="hasPhotos">
            <button type="submit">Add vacation</button>
          </form>
          <div class="vacations">
            <script id="vacations-template" type="text/x-handlebars-template">
              {{#each vacations}}
                <div class="col-md-12 oneVacation">
                  <p>In {{year}}, I visited {{location}}, and
                {{#if hasPhotos}}
                  I took pictures on this vacation.
                {{else}}
                  I didn't take pictures on this vacation.
                {{/if}}
                <button type="button" name="button" class="delete-button pull-right" data-id={{_id}}>x</button></p>
                </div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
