body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 5px;
  opacity: 0.8;
  padding: 1px;
}

button:focus {
  outline: none;
}

.oneVacation {
  margin: 5px 0;
}

.oneVacation:hover {
  background-color: lightgray;
}